<mat-toolbar color="warn">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <div>
            <a mat-button [routerLink]="'/'"> Home </a>

        </div>
        <span class="spacer"></span>
        <button mat-icon-button>
            <mat-icon aria-hidden="false" aria-label="Example home icon">login</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-nav-list>

            <a mat-list-item [routerLink]="'/'"> Home </a>
            <a mat-list-item [routerLink]="'/timeline'"> ข้อมูลสรุปตามช่วงเวลา </a>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 88vh;padding: 10px;">

            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>